<div class="TrainrunSection" [style]="getInnerContentStyleTag()">
  <div [ngClass]="['OneWayCard', chosenCard === 'top' ? 'selected' : 'muted']"
       (click)="onTrainrunSectionCardClick('top')">
    <div [ngClass]="getOneWayCardBetriebspunktClassTag('top')">
      <b>{{ startNode[1] }}</b> ({{ startNode[0] }})
    </div>
    <div class="TrainFreqContainer">
      <svg class="renderer" width="96px" height="48px" viewBox="0 0 48 24">
        <text [class]="getEdgeLineTextClass('top')" x="8" y="5">{{
          getTrainrunTimeStructure().leftDepartureTime
          }}</text>
        <path [ngClass]="getEdgeLineClassAttrString(0, 'top')" d="M0,12L48,12"></path>
        <path [ngClass]="getEdgeLineClassAttrString(1, 'top')" d="M0,12L48,12"></path>
        <path [ngClass]="getEdgeLineClassAttrString(2, 'top')" d="M0,12L48,12"></path>
        <path [ngClass]="getEdgeLineClassAttrString(3, 'top')" d="M0,12L48,12"></path>
      </svg>
      <svg class="renderer" width="32px" height="48px" viewBox="0 0 12 6">
        <path [ngClass]="getEdgeLineArrowClass('top')" d="M2,2L2,4L6,4L6,6L10,3L6,0L6,2Z"/>
      </svg>
      <svg class="renderer" width="96px" height="48px" viewBox="0 0 48 24">
        <text [ngClass]="getEdgeLineTextClass('top')" x="40" y="5">{{
          getTrainrunTimeStructure().rightArrivalTime
          }}</text>
        <path [ngClass]="getEdgeLineClassAttrString(0, 'top')" d="M0,12L48,12"></path>
        <path [ngClass]="getEdgeLineClassAttrString(1, 'top')" d="M0,12L48,12"></path>
        <path [ngClass]="getEdgeLineClassAttrString(2, 'top')" d="M0,12L48,12"></path>
        <path [ngClass]="getEdgeLineClassAttrString(3, 'top')" d="M0,12L48,12"></path>
      </svg>
    </div>
    <div [ngClass]="getOneWayCardBetriebspunktClassTag('top')">
      <b>{{ endNode[1] }}</b> ({{ endNode[0] }})
    </div>
  </div>

  <div [ngClass]="['OneWayCard', chosenCard === 'bottom' ? 'selected' : 'muted']"
       (click)="onTrainrunSectionCardClick('bottom')">
    <div [ngClass]="getOneWayCardBetriebspunktClassTag('bottom')">
      <b>{{ startNode[1] }}</b> ({{ startNode[0] }})
    </div>
    <div class="TrainFreqContainer">
      <svg class="renderer" width="96px" height="48px" viewBox="0 0 48 24">
        <text [ngClass]="getEdgeLineTextClass('bottom')" x="8" y="21">{{
          getTrainrunTimeStructure().leftArrivalTime
          }}</text>
        <path [ngClass]="getEdgeLineClassAttrString(0, 'bottom')" d="M0,12L48,12"></path>
        <path [ngClass]="getEdgeLineClassAttrString(1, 'bottom')" d="M0,12L48,12"></path>
        <path [ngClass]="getEdgeLineClassAttrString(2, 'bottom')" d="M0,12L48,12"></path>
        <path [ngClass]="getEdgeLineClassAttrString(3, 'bottom')" d="M0,12L48,12"></path>
      </svg>
      <svg class="renderer" width="32px" height="48px" viewBox="0 0 12 6">
        <path [ngClass]="getEdgeLineArrowClass('bottom')" d="M2,3L6,0L6,2L10,2L10,4L6,4L6,6Z"/>
      </svg>
      <svg class="renderer" width="96px" height="48px" viewBox="0 0 48 24">
        <text [ngClass]="getEdgeLineTextClass('bottom')" x="40" y="21">{{
          getTrainrunTimeStructure().rightDepartureTime
          }}</text>
        <path [ngClass]="getEdgeLineClassAttrString(0, 'bottom')" d="M0,12L48,12"></path>
        <path [ngClass]="getEdgeLineClassAttrString(1, 'bottom')" d="M0,12L48,12"></path>
        <path [ngClass]="getEdgeLineClassAttrString(2, 'bottom')" d="M0,12L48,12"></path>
        <path [ngClass]="getEdgeLineClassAttrString(3, 'bottom')" d="M0,12L48,12"></path>
      </svg>
    </div>
    <div [ngClass]="getOneWayCardBetriebspunktClassTag('bottom')">
      <b>{{ endNode[1] }}</b> ({{ endNode[0] }})
    </div>
  </div>
</div>
