@import "../../../rastering/definitions";

::ng-deep div.OneWayCardBetriebspunkt {
  max-width: 160px;
  padding: 1px;
  text-align: center;
  align-content: center;
  height: 40px;
  font-family: "SBBWeb Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  pointer-events: none;
}

div.OneWayCardBetriebspunkt.muted {
  opacity: 0.5;
}

.TrainrunSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 6px;
  padding-top: 13px;
}

.OneWayCard {
  border-radius: 8px;
  display: flex;
  padding: 1rem 0;
  justify-content: space-around;
  align-items: center;

  * > text.edge_text {
    font-size: 8px;
  }

  cursor: pointer;
  user-select: none;
}

.OneWayCard.muted {
  border: 1px solid var(--sbb-toggle-background-color-inactive);
  background: var(--sbb-toggle-background-color-inactive);
}

.OneWayCard:hover {
  border: 1px solid $COLOR_Default;
}

.OneWayCard.selected {
  border: 1px solid var(--sbb-toggle-border-color-active);
  background: var(--sbb-toggle-background-color-active);
}

.OneWayCard:active {
  background: var(--sbb-toggle-background-color-active);
}

.TrainFreqContainer {
  display: flex;
  align-items: center;
}
