<div class="TrainrunSection">
  <div class="OneWayCard top" (click)="onTrainrunSectionCardSelection('right')">
    <div class="OneWayCardBetriebspunkt">
      <b>{{ leftBetriebspunkt[0] }}</b> {{ leftBetriebspunkt[1] }}
    </div>
    <div class="TravelFreqTop">
      <div class="NodeTimeStructures">
        <span>{{
          trainrunSectionTimesService.getTimeStructure().leftDepartureTime
        }}</span>
        <span>{{
          trainrunSectionTimesService.getTimeStructure().rightArrivalTime
        }}</span>
      </div>
      <div>
        <svg class="renderer" width="96px" height="32px" viewBox="0 6 55 16">
          <path [class]="getEdgeLineClassAttrString(0, 'top')" d="M0,16L55,16"></path>
          <path [class]="getEdgeLineClassAttrString(1, 'top')" d="M0,16L55,16"></path>
          <path [class]="getEdgeLineClassAttrString(2, 'top')" d="M0,16L55,16"></path>
          <path [class]="getEdgeLineClassAttrString(3, 'top')" d="M0,16L55,16"></path>
        </svg>
        <sbb-icon svgIcon="arrow-right-small"></sbb-icon>
        <svg class="renderer" width="96px" height="32px" viewBox="0 6 55 16">
          <path [class]="getEdgeLineClassAttrString(0, 'top')" d="M0,16L55,16"></path>
          <path [class]="getEdgeLineClassAttrString(1, 'top')" d="M0,16L55,16"></path>
          <path [class]="getEdgeLineClassAttrString(2, 'top')" d="M0,16L55,16"></path>
          <path [class]="getEdgeLineClassAttrString(3, 'top')" d="M0,16L55,16"></path>
        </svg>
      </div>
    </div>
    <div class="OneWayCardBetriebspunkt">
      <b>{{ rightBetriebspunkt[0] }}</b> {{ rightBetriebspunkt[1] }}
    </div>
  </div>

  <div class="OneWayCard bottom" (click)="onTrainrunSectionCardSelection('left')">
    <div class="OneWayCardBetriebspunkt">
      <b>{{ leftBetriebspunkt[0] }}</b> {{ leftBetriebspunkt[1] }}
    </div>
    <div class="TravelFreqBottom">
      <div>
        <svg class="renderer" width="96px" height="32px" viewBox="0 6 55 16">
          <path [class]="getEdgeLineClassAttrString(0, 'bottom')" d="M0,16L55,16"></path>
          <path [class]="getEdgeLineClassAttrString(1, 'bottom')" d="M0,16L55,16"></path>
          <path [class]="getEdgeLineClassAttrString(2, 'bottom')" d="M0,16L55,16"></path>
          <path [class]="getEdgeLineClassAttrString(3, 'bottom')" d="M0,16L55,16"></path>
        </svg>
        <sbb-icon svgIcon="arrow-left-small"></sbb-icon>
        <svg class="renderer" width="96px" height="32px" viewBox="0 6 55 17">
          <path [class]="getEdgeLineClassAttrString(0, 'bottom')" d="M0,16L55,16"></path>
          <path [class]="getEdgeLineClassAttrString(1, 'bottom')" d="M0,16L55,16"></path>
          <path [class]="getEdgeLineClassAttrString(2, 'bottom')" d="M0,16L55,16"></path>
          <path [class]="getEdgeLineClassAttrString(3, 'bottom')" d="M0,16L55,16"></path>
        </svg>
        <div class="NodeTimeStructures">
          <span>{{
            trainrunSectionTimesService.getTimeStructure().leftArrivalTime
          }}</span>
          <span>{{
            trainrunSectionTimesService.getTimeStructure().rightDepartureTime
          }}</span>
        </div>
      </div>
    </div>
    <div class="OneWayCardBetriebspunkt">
      <b>{{ rightBetriebspunkt[0] }}</b> {{ rightBetriebspunkt[1] }}
    </div>
  </div>
</div>
