<div sbbDialogContent [class]="getContentClassTag()"
    [style]="getContentStyleTag()"
>
  <div class="toggle-container">
    <span class="toggle-label"
          (click)="onToggleOneWay(false)"
    >{{ 'app.view.dialogs.trainrun-and-section-dialog.trainrun-roundtrip-tab.round-trip' | translate }}</span>
    <label class="toggle-switch">
      <input
        sbbInput
        type="checkbox"
        [checked]="isOneWay"
        (change)="onIsOneWayChanged($event.target.checked)"
      />
      <span class="slider"></span>
    </label>
    <span class="toggle-label"
          (click)="onToggleOneWay(true)"
    >{{ 'app.view.dialogs.trainrun-and-section-dialog.trainrun-roundtrip-tab.one-way' | translate }}</span>
  </div>
  <sbb-trainrunsection-card *ngIf="isOneWay"
                            [innerContentScaleFactor]="innerContentScaleFactor">
  </sbb-trainrunsection-card>
</div>
<ng-container *ngIf="toolbarVisible">
  <div sbbDialogActions [class]="getContentFooterClassTag()">
    <button
      class="FunctionButton"
      tabindex="-1"
      (click)="onDuplicateTrainrun()"
      [title]="
        'app.view.dialogs.trainrun-and-section-dialog.trainrun-tab.trainrunDuplicate'
          | translate
      "
    >
      <sbb-icon svgIcon="plus-medium" aria-hidden="false"></sbb-icon>
    </button>
    <button
      class="FunctionButton"
      tabindex="-1"
      (click)="onDeleteTrainrun()"
      [title]="
        'app.view.dialogs.trainrun-and-section-dialog.trainrun-tab.trainrunDelete'
          | translate
      "
    >
      <sbb-icon svgIcon="trash-medium" aria-hidden="false"></sbb-icon>
    </button>
  </div>
</ng-container>
