<div class="toggle-switch-button-component">
  <span *ngIf="labelFalse !== ''"
        [class]="createLabelCheckedTag(false)"
        (click)="onToggle(false)"
  >{{ labelFalse }}</span>
  <label class="toggle-switch">
    <input
      type="checkbox"
      [class]="createCheckboxClassTag()"
      [checked]="checked"
      (change)="onChange($event.target.checked)"
    />
    <span class="slider"></span>
  </label>
  <span *ngIf="labelTrue !== ''"
        [class]="createLabelCheckedTag(true)"
        (click)="onToggle(true)"
  >{{ labelTrue }}</span>
</div>
