@import "../rastering/definitions";

.toggle-switch-button-component {
  display: flex;
  align-items: center;
  gap: 10px;

  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }


  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }

  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--sbb-toggle-check-background-color);
    border: 1px solid var(--sbb-toggle-border-color-inactive);
    transition: 0.4s;
    border-radius: 24px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: var(--NODE_TEXT_FOCUS);
    border: 1px solid var(--sbb-toggle-border-color-inactive);
    transition: 0.1s;
    border-radius: 50%;
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }

  input.only-label-true + .slider:before {
    scale: 0.66;
    background-color: var(--sbb-toggle-border-color-inactive);
  }

  input.only-label-true:checked + .slider:before {
    scale: 1;
    background-color: var(--NODE_TEXT_FOCUS);
  }

  .toggle-label {
    font-size: 14px;
    color: var(--NODE_TEXT_FOCUS);
    cursor: pointer;
    user-select: none;
  }

  .toggle-label:hover {
    background: var(--COLOR_TRANSITION_GRAYEDOUT);
  }

  .toggle-label:active {
    background: $COLOR_MUTED_SILVER;
  }

  .toggle-label.checked {
    font-weight: bold;
  }
  .toggle-label.checked {
    font-weight: bold;
  }
}
