<div class="toggle-switch-button-component">
  <span *ngIf="labelFalse !== ''"
        class="toggle-label"
        (click)="onToggle(false)"
  >{{ labelFalse }}</span>
  <label class="toggle-switch">
    <input
      sbbInput
      type="checkbox"
      [class]="labelFalse === '' ? 'only-label-true' : ''"
      [checked]="checked"
      (change)="onChange($event.target.checked)"
    />
    <span class="slider"></span>
  </label>
  <span *ngIf="labelTrue !== ''"
        class="toggle-label"
        (click)="onToggle(true)"
  >{{ labelTrue }}</span>
</div>
