@import '../../rastering/definitions';

::ng-deep path.preview_line {
  stroke: $COLOR_Edit;
  stroke-width: 6.0px;
  pointer-events: none;
  fill: none;
}

::ng-deep path.preview_connection_line {
  stroke: $COLOR_Edit;
  stroke-width: 4.0px;
  stroke-dasharray: 4.0px;
  pointer-events: none;
  fill: none;
}
