@import '../../rastering/definitions';

::ng-deep path.transition_line {
  fill: none;
  stroke-width: 2.0px;
  stroke: $NODE_DOCKABLE;
  pointer-events: none;
}

::ng-deep path.transition_line.layer_0 {
  stroke-width: 8.0px;
  stroke-opacity: 0.001;
}

::ng-deep path.transition_line.layer_1 {
  stroke-width: 0px;
  stroke: $NODE_DOCKABLE;
}

::ng-deep path.transition_line.layer_2 {
  stroke-width: 0px;
  stroke: $NODE_DOCKABLE;
}

::ng-deep path.transition_line.layer_3 {
  stroke-width: 0px;
  stroke: $NODE_DOCKABLE;
}


/// Coloring

/// FREQ_120
::ng-deep path.transition_line.layer_0.Freq_120 {
  stroke-dasharray: 8.0px;
  stroke-width: 2.0px;
  stroke-opacity: 1.0;
}

/// FREQ_60
::ng-deep path.transition_line.layer_1.Freq_60 {
  stroke-width: 2.0px;
}

/// FREQ_30
::ng-deep path.transition_line.layer_2.Freq_30 {
  stroke-width: 6.0px;
}

::ng-deep path.transition_line.layer_3.Freq_30 {
  stroke-width: 2.0px;
}


/// FREQ_20
::ng-deep path.transition_line.layer_1.Freq_20 {
  stroke-width: 5.0px;
}

::ng-deep path.transition_line.layer_2.Freq_20 {
  stroke-width: 3.0px;
  stroke-opacity: 1.0;
}

::ng-deep path.transition_line.layer_3.Freq_20 {
  stroke-width: 1.0px;
}


/// FREQ_15
::ng-deep path.transition_line.layer_0.Freq_15 {
  stroke-width: 7.0px;
  stroke-opacity: 1.0;
}

::ng-deep path.transition_line.layer_1.Freq_15 {
  stroke-width: 5.0px;
}

::ng-deep path.transition_line.layer_2.Freq_15 {
  stroke-width: 3.0px;
}

::ng-deep path.transition_line.layer_3.Freq_15 {
  stroke-width: 1.0px;
}

::ng-deep path.transition_line.layer_0.Freq_15.hover {
  stroke-opacity: 1.0;
}


::ng-deep path.transition_line.layer_0.Freq_15.selected {
  stroke-opacity: 1.0;
}


::ng-deep polygon.transition_pin {
  opacity: 0.01;
  stroke: $NODE_DOCKABLE;
  fill: $NODE_DOCKABLE;
  pointer-events: none;
}

::ng-deep polygon.transition_pin.selected {
  rx: 3;
  ry: 3;
  opacity: 1.0;
  stroke: $COLOR_Edit;
  pointer-events: auto;
}

::ng-deep polygon.transition_pin.hover {
  opacity: 1.0;
  stroke: $COLOR_Default;
  fill: $COLOR_Edit;
  pointer-events: auto;
}

::ng-deep polygon.transition_pin.selected.nonstop {
  fill-opacity: 0.125;
  fill: $NODE_DOCKABLE;
  pointer-events: auto;
}

::ng-deep polygon.transition_pin.hover.nonstop {
  fill-opacity: 1.0;
  fill: $COLOR_Edit;
  pointer-events: auto;
}

/// FREQ_null -> new TimeCategory(HVZ, default)
::ng-deep path.transition_line.LinePatternRef_HVZ {
  stroke-dasharray: 16px 4px 2px 4px;
}

::ng-deep path.transition_line.LinePatternRef_ZEITWEISE {
  stroke-dasharray: 8px 4px 2px 4px;
}

::ng-deep path.transition_line.Freq_120 {
  stroke-dasharray: 8.0px;
}

::ng-deep path.transition_line.Freq_120.LinePatternRef_HVZ {
  stroke-dasharray: 6px 1px 1px;
}

::ng-deep path.transition_line.Freq_120.LinePatternRef_ZEITWEISE {
  stroke-dasharray: 4px 2px 2px;
}

::ng-deep path.transition_line.enforce_disable_all_pointer_events {
  stroke-dasharray: 0 1;
}
