<h2 class="SummaryTitle">{{ tMoreFunctions }}</h2>
<sbb-accordion [multi]="true">
  <sbb-expansion-panel [expanded]="true">
    <sbb-expansion-panel-header>{{ tExport }}</sbb-expansion-panel-header>
    <button
      class="TrainrunDialog EditorToolButton"
      (click)="onExportNetzgrafikSVG()"
      [title]="tExportNetzgrafikAsSVG"
    >
      <sbb-icon svgIcon="picture-small"></sbb-icon>
    </button>
    {{ tExportAsSVG }}
    <br />
    <button
      class="TrainrunDialog EditorToolButton"
      (click)="onExportNetzgrafikPNG()"
      [title]="tExportNetzgrafikAsPNG"
    >
      <sbb-icon svgIcon="camera-small"></sbb-icon>
    </button>
    {{ tExportAsPNG }}
    <br />
    <button
      class="TrainrunDialog EditorToolButton"
      (click)="onPrintNetzgrafik()"
      [title]="tPrintNetzgrafik"
    >
      <sbb-icon svgIcon="printer-small"></sbb-icon>
    </button>
    {{ tPrint }}
  </sbb-expansion-panel>

  <sbb-expansion-panel [expanded]="false">
    <sbb-expansion-panel-header>{{ tNetzgrafik }}</sbb-expansion-panel-header>
    <button
      class="TrainrunDialog EditorToolButton"
      (click)="onSave()"
      [title]="tExportNetzgrafik"
    >
      <sbb-icon svgIcon="download-small" aria-hidden="false"></sbb-icon>
    </button>
    {{ tExportNetzgrafikAsJSON }}
    <br />
    <button
      (click)="onLoadButton()"
      [title]="tImportNetzgrafik"
      class="TrainrunDialog EditorToolButton"
    >
      <sbb-icon svgIcon="upload-small"></sbb-icon>
    </button>
    <input
      hidden
      #netgrafikJsonFileInput
      type="file"
      accept=".json"
      (change)="onLoad($event)"
    />
    {{ tImportNetzgrafikAsJSON }}
    <br />
    <button
      (click)="onExportZuglauf()"
      [title]="tExportTrainruns"
      class="TrainrunDialog EditorToolButton"
    >
      <sbb-icon svgIcon="download-large-data-small"></sbb-icon>
    </button>
    {{ tExportTrainrunsAsCSV }}
    <sbb-tooltip
      >{{ tExportTrainrunsAsCSVExcel }}</sbb-tooltip
    >
  </sbb-expansion-panel>
  <sbb-expansion-panel [expanded]="false">
    <sbb-expansion-panel-header>{{ tMainData }}</sbb-expansion-panel-header>
    <button
      (click)="onLoadStammdatenButton()"
      [title]="tImportMainData"
      class="TrainrunDialog EditorToolButton"
    >
      <sbb-icon svgIcon="document-plus-small"></sbb-icon>
    </button>
    {{ tImportMainData }}
    <a
      href="https://github.com/SchweizerischeBundesbahnen/netzgrafik-editor-frontend/blob/main/documentation/CREATE_NODES.md#import-nodes-from-a-semicolon-seperate-value-file-csv"
      class="sbb-link link-reset"
      target="_blank"
      >{{ tHelpCSVData }}</a
    >
    <input
      hidden
      #stammdatenFileInput
      type="file"
      accept=".csv"
      (change)="onLoadStammdaten($event)"
    />
    <br />
    <button
      (click)="onExportStammdaten()"
      [title]="tExportMainData"
      class="TrainrunDialog EditorToolButton"
    >
      <sbb-icon svgIcon="download-large-data-small"></sbb-icon>
    </button>
    {{ tExportMainData }}
  </sbb-expansion-panel>
</sbb-accordion>
