<h2 class="SummaryTitle">{{ 'app.view.editor-side-view.editor-tools-view-component.more-functions' | translate }}</h2>
<sbb-accordion [multi]="true">
  <sbb-expansion-panel [expanded]="true">
    <sbb-expansion-panel-header>{{ 'app.view.editor-side-view.editor-tools-view-component.export' | translate }}</sbb-expansion-panel-header>
    <button
      class="TrainrunDialog EditorToolButton"
      (click)="onExportNetzgrafikSVG()"
      [title]="'app.view.editor-side-view.editor-tools-view-component.export-netzgrafik-as-svg' | translate"
    >
      <sbb-icon svgIcon="picture-small"></sbb-icon>
    </button>
    {{ 'app.view.editor-side-view.editor-tools-view-component.export-as-svg' | translate }}
    <br />
    <button
      class="TrainrunDialog EditorToolButton"
      (click)="onExportNetzgrafikPNG()"
      [title]="'app.view.editor-side-view.editor-tools-view-component.export-netzgrafik-as-png' | translate"
    >
      <sbb-icon svgIcon="camera-small"></sbb-icon>
    </button>
    {{ 'app.view.editor-side-view.editor-tools-view-component.export-as-png' | translate }}
    <br />
    <button
      class="TrainrunDialog EditorToolButton"
      (click)="onPrintNetzgrafik()"
      [title]="'app.view.editor-side-view.editor-tools-view-component.print-netzgrafik' | translate"
    >
      <sbb-icon svgIcon="printer-small"></sbb-icon>
    </button>
    {{ 'app.view.editor-side-view.editor-tools-view-component.print' | translate }}
  </sbb-expansion-panel>

  <sbb-expansion-panel [expanded]="false">
    <sbb-expansion-panel-header>{{ 'app.view.editor-side-view.editor-tools-view-component.netzgrafik' | translate }}</sbb-expansion-panel-header>
    <button
      class="TrainrunDialog EditorToolButton"
      (click)="onSave()"
      [title]="'app.view.editor-side-view.editor-tools-view-component.export-netzgrafik' | translate"
    >
      <sbb-icon svgIcon="download-small" aria-hidden="false"></sbb-icon>
    </button>
    {{ 'app.view.editor-side-view.editor-tools-view-component.export-netzgrafik-as-json' | translate }}
    <br />
    <button
      (click)="onLoadButton()"
      [title]="'app.view.editor-side-view.editor-tools-view-component.import-netzgrafik' | translate"
      class="TrainrunDialog EditorToolButton"
      [disabled]="!getVariantIsWritable()"
      [class.readonly]="!getVariantIsWritable()"
    >
      <sbb-icon svgIcon="upload-small"></sbb-icon>
    </button>
    <input
      hidden
      #netgrafikJsonFileInput
      type="file"
      accept=".json"
      (change)="onLoad($event)"
      [disabled]="!getVariantIsWritable()"
      [class.readonly]="!getVariantIsWritable()"
    />
    {{ 'app.view.editor-side-view.editor-tools-view-component.import-netzgrafik-as-json' | translate }}
    <br />
    <button
      (click)="onExportZuglauf()"
      [title]="'app.view.editor-side-view.editor-tools-view-component.export-trainruns' | translate"
      class="TrainrunDialog EditorToolButton"
    >
      <sbb-icon svgIcon="download-large-data-small"></sbb-icon>
    </button>
    {{ 'app.view.editor-side-view.editor-tools-view-component.export-trainruns-as-csv' | translate }}
    <sbb-tooltip
      >{{ 'app.view.editor-side-view.editor-tools-view-component.export-trainruns-as-csv-excel' | translate }}</sbb-tooltip
    >
  </sbb-expansion-panel>
  <sbb-expansion-panel [expanded]="false">
    <sbb-expansion-panel-header>{{ 'app.view.editor-side-view.editor-tools-view-component.base-data' | translate }}</sbb-expansion-panel-header>
    <button
      (click)="onLoadStammdatenButton()"
      [title]="'app.view.editor-side-view.editor-tools-view-component.import-base-data' | translate"
      class="TrainrunDialog EditorToolButton"
      [disabled]="!getVariantIsWritable()"
      [class.readonly]="!getVariantIsWritable()"
    >
      <sbb-icon svgIcon="document-plus-small"></sbb-icon>
    </button>
    {{ 'app.view.editor-side-view.editor-tools-view-component.import-base-data' | translate }}
    <a
      href="https://github.com/SchweizerischeBundesbahnen/netzgrafik-editor-frontend/blob/main/documentation/CREATE_NODES.md#import-nodes-from-a-semicolon-seperate-value-file-csv"
      class="sbb-link link-reset"
      target="_blank"
      >{{ 'app.view.editor-side-view.editor-tools-view-component.help-csv-data' | translate }}</a
    >
    <input
      hidden
      #stammdatenFileInput
      type="file"
      accept=".csv"
      (change)="onLoadStammdaten($event)"
    />
    <br />
    <button
      (click)="onExportStammdaten()"
      [title]="'app.view.editor-side-view.editor-tools-view-component.export-base-data' | translate"
      class="TrainrunDialog EditorToolButton"
    >
      <sbb-icon svgIcon="download-large-data-small"></sbb-icon>
    </button>
    {{ 'app.view.editor-side-view.editor-tools-view-component.export-base-data' | translate }}
  </sbb-expansion-panel>
</sbb-accordion>
