$COLOR_Default_Selection: #3367d1;

$NODE_ROUND_EDGE_SIZE: 4px;

$LINE_FONT_SIZE: 16px;
$LINE_STOP_FONT_SIZE: 12px;
$BP_LABEL_FONT_SIZE: 16px;

$PIN_RADIUS_HIDDEN: 0.1px;
$PIN_RADIUS_DOCKABLE: 6px;
$PIN_RADIUS_SELECTED: 6px;
$PIN_RADIUS_HOVER: 11px;

$TRAINRUN_SECTION_STOP_RADIUS: 4px;

// map variable to "const values"
$CONNECTION_COLOR: var(--CONNECTION_COLOR);
$CONNECTION_COLOR_HOVER: var(--CONNECTION_COLOR_HOVER);
$CONNECTION_COLOR_WARNING: var(--CONNECTION_COLOR_WARNING);

$NODE_COLOR_BACKGROUND: var(--NODE_COLOR_BACKGROUND);
$NODE_TEXT_COLOR: var(--NODE_TEXT_COLOR);
$NODE_TEXT_FOCUS: var(--NODE_TEXT_FOCUS);

$COLOR_Default: var(--COLOR_Default);
$COLOR_Focus: var(--COLOR_Focus);
$COLOR_Muted: var(--COLOR_Muted);
$COLOR_Edit: var(--COLOR_Edit);
$COLOR_Warning: var(--COLOR_Warning);

$COLOR_BACKGROUND: var(--COLOR_BACKGROUND);
$COLOR_STRECKENGRAPHIK_BACKGROUND: var(--COLOR_STRECKENGRAPHIK_BACKGROUND);
$COLOR_MUTED_SILVER: var(--sbb-header-lean-border-bottom-color);

$COLOR_Warning_BACKGROUND: var(--COLOR_Warning_BACKGROUND);

$NODE_COLOR: var(--NODE_COLOR);
$NODE_DOCKABLE: var(--NODE_DOCKABLE);
$NODE_DOCKABLE_HOVER: var(--NODE_DOCKABLE_HOVER);

$COLOR_TRAINRUN_SECTION: var(--COLOR_TRAINRUN_SECTION);
$COLOR_TRAINRUN_SECTION_HOVER: var(--COLOR_TRAINRUN_SECTION_HOVER);

$COLOR_TRAINRUN_TRANSITION: $COLOR_TRAINRUN_SECTION;
$COLOR_TRAINRUN_TRANSITION_HOVER: $COLOR_TRAINRUN_SECTION_HOVER;

$COLOR_GRAYEDOUT: var(--COLOR_GRAYEDOUT);
$COLOR_TRANSITION_GRAYEDOUT: var(--COLOR_TRANSITION_GRAYEDOUT);

$COLOR_STRECKENGRAPHIK_LINE_GRID_X: var(--COLOR_STRECKENGRAPHIK_LINE_GRID_X);
$COLOR_STRECKENGRAPHIK_LINE_GRID_Y: var(--COLOR_STRECKENGRAPHIK_LINE_GRID_Y);
