::ng-deep a.SideBarMainIcon {
}

::ng-deep a.SideBarMainIcon:hover {
}

a.SideBarMainIcon.sbb-active {
  pointer-events: all;
}

.sbb-icon-sidebar-container {
  top: 85px;
}

.sbb-icon-sidebar-container.disableBackend {
  top: 55px;
}
