.title-container {
  border-bottom: 1px solid var(--sbb-color-silver);
  padding: 0 0px;
  overflow: auto;
  padding-top: 7px;
  cursor: pointer;
  overflow: hidden;
}

.TitleArea {
  margin: 10px 10px 0px 10px;
  padding: 0 4px;
}

.sepdiv {
  width: 100%;
  height: 2px;
  float: right;
  border-bottom: 1px solid var(--sbb-color-silver);
}

.svg-container {
  display: flex;
  justify-content: center;
  width: 100%;

  .drawing-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
  }
}

.trainrun-od {
  display: flex;
  align-items: center;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

button.SimpleButton {
  min-width: 40px;
  min-height: 28px;
  max-width: 40px;
  max-height: 28px;
  position: relative;
  left: 5px;
  top: 5px;
  border: none;
  color: black;
  float: right;
  padding-top: 7px;
}

button.SimpleButton.ZoomEqual {
  font-weight: bold;
}

button.SimpleButton:hover {
  font-weight: bold;
  transform: scale(1.25);
}

button.SimpleButton:active {
}

button.SimpleButton:disabled {
  opacity: 0.5;
  transform: scale(1);
}

span.station {
  cursor: pointer;
  font-size: 22px;
  border: 5px solid var(--sbb-color-background);
  font-weight: lighter;
  user-select: none;
}

span.arrow {
  cursor: default;
  pointer-events: none;
  font-size: 22px;
  user-select: none;
}

span.trainname {
  cursor: default;
  pointer-events: none;
  font-size: 22px;
  border: 5px solid var(--sbb-color-background);
  user-select: none;
}

span.smallstation {
  cursor: pointer;
  font-size: 12px;
  border: 3px solid var(--sbb-color-background);
  white-space: pre-wrap;
  font-weight: lighter;
  user-select: none;
}

span.smallstation:active {
}

span.smallstation.closest {
  font-weight: bolder;
}

span.smallstation:hover {
  color: var(--COLOR_Edit);
}

.trainRunEditor {
  width: 100%;
  overflow: auto;
  padding: 0px;
  min-height: auto;
}

.highlight {
  color: var(--COLOR_Edit);
  stroke: var(--COLOR_Edit);
}

.ToggleAllEyesButton:hover {
  stroke: var(--COLOR_Edit);
  stroke-width: 0.5px;
}
