<h2 class="SummaryTitle">{{ tEdit }}</h2>
<sbb-accordion [multi]="false">
  <sbb-expansion-panel
    [expanded]="false"
    [hideToggle]="false"
    [disabled]="false"
  >
    <sbb-expansion-panel-header>{{ tFilterableLabels }}</sbb-expansion-panel-header>
    <sbb-accordion [multi]="false">
      <sbb-expansion-panel [expanded]="true">
        <sbb-expansion-panel-header>{{ tTrainruns }}</sbb-expansion-panel-header>
        <sbb-label-drop-list-component
          [componentLabelRef]="'Trainrun'"
        ></sbb-label-drop-list-component>
      </sbb-expansion-panel>
      <sbb-expansion-panel [expanded]="false">
        <sbb-expansion-panel-header>{{ tNodes }}</sbb-expansion-panel-header>
        <sbb-label-drop-list-component
          [componentLabelRef]="'Node'"
        ></sbb-label-drop-list-component>
      </sbb-expansion-panel>

      <sbb-expansion-panel [expanded]="false">
        <sbb-expansion-panel-header>{{ tNotes }}</sbb-expansion-panel-header>
        <sbb-label-drop-list-component
          [componentLabelRef]="'Note'"
        ></sbb-label-drop-list-component>
      </sbb-expansion-panel>
    </sbb-accordion>
  </sbb-expansion-panel>

  <sbb-expansion-panel [expanded]="true">
    <sbb-expansion-panel-header>{{ tDeleteNetzgrafikTitle }}</sbb-expansion-panel-header>

    <ng-container
      *ngIf="
        this.filterService.isAnyFilterActive() &&
        !this.filterService.isTemporaryDisableFilteringOfItemsInViewEnabled()
      "
    >
      <br />
      <sbb-label>{{ tNonVisibleElements }}</sbb-label>
      <br />
      <button
        (click)="onClearAllFiltered()"
        [title]="tDeleteAllNonVisibleElementsTooltip"
        class="TrainrunDialog EditorToolButton"
      >
        <sbb-icon svgIcon="bucket-foam-broom-small"></sbb-icon>
      </button>
      {{ tDeleteAllNonVisibleElements }}
      <br />
    </ng-container>
    <br />
    <sbb-label>{{ tVisibleElements }}</sbb-label>
    <br />
    <button
      (click)="onClearAllTrainruns()"
      [title]="tDeleteAllVisibleTrainrunsTooltip"
      class="TrainrunDialog EditorToolButton"
    >
      <sbb-icon svgIcon="trash-small"></sbb-icon>
    </button>
    {{ tDeleteAllVisibleTrainruns }}
    <br />
    <button
      (click)="onClearAllNotes()"
      [title]="tDeleteAllVisibleNotesTooltip"
      class="TrainrunDialog EditorToolButton"
    >
      <sbb-icon svgIcon="trash-small"></sbb-icon>
    </button>
    {{ tDeleteAllVisibleNotes }}
    <br />
    <button
      (click)="onClear()"
      [title]="tDeleteAllVisibleElementsTooltip"
      class="TrainrunDialog EditorToolButton"
    >
      <sbb-icon svgIcon="trash-small"></sbb-icon>
    </button>
    {{ tDeleteAllVisibleElements }}
  </sbb-expansion-panel>
  <sbb-expansion-panel [expanded]="false">
    <sbb-expansion-panel-header>
      {{ tMergeNetzgrafikTitle }}
    </sbb-expansion-panel-header>
    <br />
    <button
      (click)="onLoadNetzgrafikToInsertCopieButton()"
      [title]="tAddNetzgrafikAsCopyTooltip"
      class="TrainrunDialog EditorToolButton"
    >
      <sbb-icon svgIcon="hierarchy-small"></sbb-icon>
    </button>
    {{ tAddNetzgrafikAsCopy }}
    <input
      hidden
      #netzgrafikMergeAsACopyFileInput
      type="file"
      accept=".json"
      (change)="onLoadNetzgrafikToMergeAsACopy($event)"
    />

    <br />
    <button
      (click)="onLoadNetzgrafikToMergeButton()"
      [title]="tMergeNetzgrafikTooltip"
      class="TrainrunDialog EditorToolButton"
    >
      <sbb-icon svgIcon="hierarchy-small"></sbb-icon>
    </button>
    {{ tMergeNetzgrafik }}
    <input
      hidden
      #netzgrafikMergeFileInput
      type="file"
      accept=".json"
      (change)="onLoadNetzgrafikToMerge($event)"
    />
  </sbb-expansion-panel>
</sbb-accordion>
