<h2 class="SummaryTitle">Bearbeiten</h2>
<sbb-accordion [multi]="false">
  <sbb-expansion-panel [expanded]="false" [hideToggle]="false" [disabled]="false">
    <sbb-expansion-panel-header>
      Filterbare Labels
    </sbb-expansion-panel-header>
    <sbb-accordion [multi]="false">
      <sbb-expansion-panel [expanded]="true">
        <sbb-expansion-panel-header>
          Züge
        </sbb-expansion-panel-header>
        <sbb-label-drop-list-component [componentLabelRef]="'Trainrun'"></sbb-label-drop-list-component>
      </sbb-expansion-panel>
      <sbb-expansion-panel [expanded]="false">
        <sbb-expansion-panel-header>
          Knoten
        </sbb-expansion-panel-header>
        <sbb-label-drop-list-component [componentLabelRef]="'Node'"></sbb-label-drop-list-component>
      </sbb-expansion-panel>

      <sbb-expansion-panel [expanded]="false">
        <sbb-expansion-panel-header>
          Kommentare
        </sbb-expansion-panel-header>
        <sbb-label-drop-list-component [componentLabelRef]="'Note'"></sbb-label-drop-list-component>
      </sbb-expansion-panel>
    </sbb-accordion>
  </sbb-expansion-panel>

  <sbb-expansion-panel [expanded]="true">
    <sbb-expansion-panel-header>
      Netzgrafik - Löschen
    </sbb-expansion-panel-header>

    <ng-container
      *ngIf="this.filterService.isAnyFilterActive() && !this.filterService.isTemporaryDisableFilteringOfItemsInViewEnabled()">
      <br>
      <sbb-label>Nicht sichtbare Elemente</sbb-label>
      <br>
      <button (click)="onClearAllFiltered()"
              title="Alle nicht sichtbare Elemente, wie Knoten, Züge und Kommentare löschen"
              class="TrainrunDialog EditorToolButton">
        <sbb-icon svgIcon="bucket-foam-broom-small"></sbb-icon>
      </button>
      Alle nicht sichtbare Elemente löschen
      <br>
    </ng-container>
    <br>
    <sbb-label>Sichtbare Elemente</sbb-label>
    <br>
    <button (click)="onClearAllTrainruns()" title="Alle sichtbare Züge aus Netzgrafik löschen"
            class="TrainrunDialog EditorToolButton">
      <sbb-icon svgIcon="trash-small"></sbb-icon>
    </button>
    Alle sichtbare Züge löschen
    <br>
    <button (click)="onClearAllNotes()" title="Alle sichtbare Kommentare aus Netzgrafik löschen"
            class="TrainrunDialog EditorToolButton">
      <sbb-icon svgIcon="trash-small"></sbb-icon>
    </button>
    Alle sichtbare Kommentare löschen
    <br>
    <button (click)="onClear()" title="Alle sichtbare Elemente, wie Knoten, Züge und Kommentare löschen"
            class="TrainrunDialog EditorToolButton">
      <sbb-icon svgIcon="trash-small"></sbb-icon>
    </button>
    Alle sichtbare Elemente löschen
  </sbb-expansion-panel>
  <sbb-expansion-panel [expanded]="false">
    <sbb-expansion-panel-header>
      Netzgrafik - Zusammenführen
    </sbb-expansion-panel-header>
    <br>
    <button (click)="onLoadNetzgrafikToInsertCopieButton()"
            title="Alle Zugfahrten aus Netzgrafik als Kopie hinzufügen"
            class="TrainrunDialog EditorToolButton">
      <sbb-icon svgIcon="hierarchy-small"></sbb-icon>
    </button>
    Züge als Kopie einfügen
    <input hidden #netzgrafikMergeAsACopyFileInput type="file" accept=".json"
           (change)="onLoadNetzgrafikToMergeAsACopy($event)"/>

    <br>
    <button (click)="onLoadNetzgrafikToMergeButton()"
            title="Alle Zugfahrten aus Netzgrafik mittels zusammenführen mergen"
            class="TrainrunDialog EditorToolButton">
      <sbb-icon svgIcon="hierarchy-small"></sbb-icon>
    </button>
    Züge durch Zusammenführen einfügen
    <input hidden #netzgrafikMergeFileInput type="file" accept=".json"
           (change)="onLoadNetzgrafikToMerge($event)"/>
  </sbb-expansion-panel>


</sbb-accordion>




