<sbb-header-lean
  label="Netzgrafik-Editor"
  [subtitle]="tVersion"
  class="sbb-header-fixed-columns noprint"
>
  <sbb-app-chooser-section [label]="tUserGuide" class="noprint">
    <a href="https://github.com/SchweizerischeBundesbahnen/netzgrafik-editor-frontend/blob/main/documentation/USERMANUAL.md"
      class="nav-element"
      target="_blank"
      i18n="@@app.user-manual"
    >
      {{ tUserManual }}
    </a>
    <select (change)="changeLocale($event.target.value)" [value]="locale" class="language-selector">
      <option value="en">🇬🇧 English</option>
      <option value="de">🇩🇪 Deutsch</option>
      <!-- <option value="fr">🇫🇷 Français</option> -->
      <!-- <option value="it">🇮🇹 Italiano</option> -->
    </select>
  </sbb-app-chooser-section>
  <sbb-header-environment class="noprint">{{
    environmentLabel
  }}</sbb-header-environment>
  <sbb-usermenu
    class="noprint"
    [menu]="menu"
    *ngIf="authenticated | async"
    [userName]="email"
    [displayName]="userName"
  >
    <sbb-icon svgIcon="user-small" *sbbIcon></sbb-icon>
  </sbb-usermenu>
  <sbb-menu #menu="sbbMenu">
    <button sbb-menu-item (click)="logout()">
      <sbb-icon svgIcon="exit-small" class="sbb-icon-fit"></sbb-icon>
      <span i18n>Logout</span>
    </button>
  </sbb-menu>
</sbb-header-lean>
<ng-container *ngIf="!disableBackend">
  <sbb-navigation-bar class="noprint"></sbb-navigation-bar>
</ng-container>
<router-outlet *ngIf="authenticated | async; else loading"></router-outlet>
<ng-template #loading>
  <ng-container *ngIf="!disableBackend">
    <sbb-loading-indicator mode="big"></sbb-loading-indicator>
    <div class="login-message">Sie werden angemeldet...</div>
  </ng-container>
  <ng-container *ngIf="disableBackend">
    <sbb-netzgrafik-editor></sbb-netzgrafik-editor>
  </ng-container>
</ng-template>

