<div sbbDialogTitle>
  <ng-container *ngIf="isNewProject">{{ tCreateProject }}</ng-container>
  <ng-container *ngIf="!isNewProject">{{ tEditProject }}</ng-container>
</div>
<div sbbDialogContent>
  <sbb-project-form [model]="formModel"></sbb-project-form>
</div>
<div sbbDialogActions>
  <button
    *ngIf="isNewProject"
    sbb-button
    cdkFocusInitial
    (click)="onCreateClicked()"
  >
    {{ tCreate }}
  </button>
  <button
    *ngIf="!isNewProject"
    sbb-button
    cdkFocusInitial
    (click)="onCreateClicked()"
  >
    {{ tSave }}
  </button>
  <button sbb-secondary-button (click)="onCancelClicked()">{{ tCancel }}</button>
</div>
