path.TimeLine {
  stroke: var(--COLOR_Default);
  opacity: 0.25;
  stroke-width: 1px;
  pointer-events: none;
  shape-rendering: crispEdges;
  transform: translate(1px, 1px);
}

text {
  font-family: var(--sbb-font-roman);
  font-size: 12px;
  fill: var(--COLOR_Default);
  stroke: none;
  text-anchor: start;
}

rect {
  fill: var(--COLOR_BACKGROUND);
  stroke: none;
}
