@import "../rastering/definitions";

$EDITOR_MENU_BUTTON_SIZE: 60px;
$EDITOR_MENU_BIG_BUTTON_WIDTH: 120px;
$INSIDE_OBJECT_HEIGHT: 57px;
$BORDER_SIZE: 1px;

$COLOR_FILTER_ACTIVE: #eb0000;
$COLOR_TOPO_EDITOR_ACTIVE: #eb0000;

.editorMenuGripLayout {
  position: relative;
  justify-content: center;
  margin: 0 auto;
  left: -50%;
  display: flex;
}

.editorMenuGripLayout > div {
  border-top: $BORDER_SIZE;
  border-top-color: $COLOR_MUTED_SILVER;
  border-top-style: solid;
  border-bottom: $BORDER_SIZE;
  border-bottom-color: $COLOR_MUTED_SILVER;
  border-bottom-style: solid;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

.LabelNetzgrafik {
  max-width: 20rem;
  min-width: 12rem;
  height: 100%;
  padding: 0 8px 0 8px;
  margin: 0;
  outline: none;
  border: none;
  border-left: $BORDER_SIZE solid $COLOR_MUTED_SILVER;
  border-right: $BORDER_SIZE solid $COLOR_MUTED_SILVER;
}

.LabelNetzgrafikVariante {
  font-size: 15px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.LabelNetzgrafikVarianteSaveStatus {
  font-size: 11.5px;
  display: flex;
  align-items: center;

  span {
    padding-right: 0.2rem;
  }

  ::ng-deep sbb-icon svg {
    width: 1rem;
    margin-right: 0.5rem;
  }

  ::ng-deep sbb-icon.spinning svg {
    width: 1rem;
    margin-right: 0.5rem;
    animation: spin 1s linear infinite;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ButtonFilter {
  width: $EDITOR_MENU_BUTTON_SIZE;
  height: $INSIDE_OBJECT_HEIGHT;
  min-width: $EDITOR_MENU_BUTTON_SIZE;
  max-width: $EDITOR_MENU_BUTTON_SIZE;
  text-align: center;
  font-size: 25px;
  padding: 8px 0 0 0;
  margin: 0;
  outline: none;
  border-top-style: none;
  border-right: $BORDER_SIZE solid $COLOR_MUTED_SILVER;
  border-bottom-style: none;
  border-left: $BORDER_SIZE solid $COLOR_MUTED_SILVER;
  cursor: pointer;
}

.ButtonFilter:hover {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-hover);
}

.ButtonFilter:active {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-default);
}

.ButtonFilter.ButtonFilterActive {
  color: $COLOR_FILTER_ACTIVE;
}

.ButtonFilter.ButtonFilterActive:hover {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-hover);
  color: $COLOR_FILTER_ACTIVE;
}

.ButtonFilter.ButtonFilterActive:active {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-default);
  color: $COLOR_FILTER_ACTIVE;
}

.ButtonZoomIn {
  width: $EDITOR_MENU_BUTTON_SIZE;
  height: $INSIDE_OBJECT_HEIGHT;
  min-width: $EDITOR_MENU_BUTTON_SIZE;
  max-width: $EDITOR_MENU_BUTTON_SIZE;
  text-align: center;
  font-size: 25px;
  padding: 0 0 0 0;
  margin: 0;
  outline: none;
  border: none;
  cursor: pointer;
}

.ButtonZoomIn:hover {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-hover);
}

.ButtonZoomIn:active {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-default);
}

.ButtonZoomOut {
  width: $EDITOR_MENU_BUTTON_SIZE;
  height: $INSIDE_OBJECT_HEIGHT;
  min-width: $EDITOR_MENU_BUTTON_SIZE;
  max-width: $EDITOR_MENU_BUTTON_SIZE;
  text-align: center;
  font-size: 25px;
  padding: 0 0 0 0;
  margin: 0;
  outline: none;
  border: none;
  cursor: pointer;
}

.ButtonZoomOut:hover {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-hover);
}

.ButtonZoomOut:active {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-default);
}

.ZoomValue {
  width: $EDITOR_MENU_BIG_BUTTON_WIDTH;
  height: $INSIDE_OBJECT_HEIGHT;
  padding: 16px 6px 6px 0px;
  margin: 0;
  outline: none;
  border: none;
  text-align: center;
  cursor: pointer;
}

.ButtonTopologieEditor {
  width: $EDITOR_MENU_BUTTON_SIZE;
  height: $INSIDE_OBJECT_HEIGHT;
  min-width: $EDITOR_MENU_BUTTON_SIZE;
  max-width: $EDITOR_MENU_BUTTON_SIZE;
  padding: 8px 0 0 0;
  margin: 0;
  outline: none;
  border: none;
  border-left: $BORDER_SIZE;
  border-left-color: $COLOR_MUTED_SILVER;
  border-left-style: solid;
  cursor: pointer;
}

.ButtonTopologieEditor.NetzgrafikEditing {
}

.ButtonTopologieEditor.NetzgrafikEditing:active {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-default);
}

.ButtonTopologieEditor.NetzgrafikEditing:hover {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-hover);
}

.ButtonTopologieEditor.TopologyEditing {
  border-bottom: 3px solid $COLOR_TOPO_EDITOR_ACTIVE;
  color: $COLOR_TOPO_EDITOR_ACTIVE;
}

.ButtonTopologieEditor.TopologyEditing:active {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-default);
  color: $COLOR_TOPO_EDITOR_ACTIVE;
}

.ButtonTopologieEditor.TopologyEditing:hover {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-hover);
  color: $COLOR_TOPO_EDITOR_ACTIVE;
}

.ButtonNoteEditor {
  width: $EDITOR_MENU_BUTTON_SIZE;
  height: $INSIDE_OBJECT_HEIGHT;
  min-width: $EDITOR_MENU_BUTTON_SIZE;
  max-width: $EDITOR_MENU_BUTTON_SIZE;
  padding: 8px 0 0 0;
  margin: 0;
  outline: none;
  border: none;
  border-left: $BORDER_SIZE;
  border-left-color: $COLOR_MUTED_SILVER;
  border-left-style: solid;
  cursor: pointer;
}

.ButtonNoteEditor.NetzgrafikEditing {
}

.ButtonNoteEditor.NetzgrafikEditing:active {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-default);
}

.ButtonNoteEditor.NetzgrafikEditing:hover {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-hover);
}

.ButtonNoteEditor.NoteEditing {
  border-bottom: 3px solid $COLOR_TOPO_EDITOR_ACTIVE;
  color: $COLOR_TOPO_EDITOR_ACTIVE;
}

.ButtonNoteEditor.NoteEditing:active {
  color: $COLOR_TOPO_EDITOR_ACTIVE;
}

.ButtonNoteEditor.NoteEditing:hover {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-hover);
  color: $COLOR_TOPO_EDITOR_ACTIVE;
}

.ButtonLoad > input {
  display: inherit;
  opacity: 0;
  margin: -50px 0 0 0;
  width: 60px;
  height: 57px;
}

.ButtonStreckengrafikEditor {
  width: $EDITOR_MENU_BUTTON_SIZE;
  height: $INSIDE_OBJECT_HEIGHT;
  min-width: $EDITOR_MENU_BUTTON_SIZE;
  max-width: $EDITOR_MENU_BUTTON_SIZE;
  padding: 8px 0 0 0;
  margin: 0;
  outline: none;
  border: none;
  border-left: $BORDER_SIZE;
  border-left-color: $COLOR_MUTED_SILVER;
  border-left-style: solid;
  border-right: $BORDER_SIZE;
  border-right-color: $COLOR_MUTED_SILVER;
  border-right-style: solid;
  cursor: pointer;
}

.ButtonStreckengrafikEditor.NetzgrafikEditing {
}

.ButtonStreckengrafikEditor.NetzgrafikEditing:active {
  background-color: var(--sbb-primary-alternative-button-background-color-default);
}

.ButtonStreckengrafikEditor.NetzgrafikEditing:hover {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-hover);
}

.ButtonStreckengrafikEditor.StreckengrafikEditing {
  border-bottom: 3px solid $COLOR_TOPO_EDITOR_ACTIVE;
  color: $COLOR_TOPO_EDITOR_ACTIVE;
}

.ButtonStreckengrafikEditor.StreckengrafikEditing:active {
  color: $COLOR_TOPO_EDITOR_ACTIVE;
}

.ButtonStreckengrafikEditor.StreckengrafikEditing:hover {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-hover);
  color: $COLOR_TOPO_EDITOR_ACTIVE;
}

.NodeContextMenu {
}

.NodeContextMenu:hover {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-hover);
}

.NodeContextMenu:active {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-default);
}

.ButtonMultiNodeMoving {
  width: $EDITOR_MENU_BUTTON_SIZE;
  height: $INSIDE_OBJECT_HEIGHT;
  min-width: $EDITOR_MENU_BUTTON_SIZE;
  max-width: $EDITOR_MENU_BUTTON_SIZE;
  padding: 8px 0 0 0;
  margin: 0;
  outline: none;
  border: none;
  border-left: $BORDER_SIZE;
  border-left-color: $COLOR_MUTED_SILVER;
  border-left-style: solid;
  cursor: pointer;
}

.ButtonMultiNodeMoving.NetzgrafikEditing {
}

.ButtonMultiNodeMoving.NetzgrafikEditing:active {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-default);
}

.ButtonMultiNodeMoving.NetzgrafikEditing:hover {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-hover);
}

.ButtonMultiNodeMoving.MultiNodeMoving {
  border-bottom: 3px solid $COLOR_TOPO_EDITOR_ACTIVE;
  color: $COLOR_TOPO_EDITOR_ACTIVE;
}

.ButtonMultiNodeMoving.MultiNodeMoving:active {
  color: $COLOR_TOPO_EDITOR_ACTIVE;
}

.ButtonMultiNodeMoving.MultiNodeMoving:hover {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-hover);
  color: $COLOR_TOPO_EDITOR_ACTIVE;
}

path.ButtonMultiNodeMoving {
  fill: currentColor;
}

.ButtonAnalytics {
  width: $EDITOR_MENU_BUTTON_SIZE;
  height: $INSIDE_OBJECT_HEIGHT;
  min-width: $EDITOR_MENU_BUTTON_SIZE;
  max-width: $EDITOR_MENU_BUTTON_SIZE;
  padding: 8px 0 0 0;
  margin: 0;
  outline: none;
  border: none;
  border-left: $BORDER_SIZE;
  border-left-color: $COLOR_MUTED_SILVER;
  border-left-style: solid;
  cursor: pointer;
}

.ButtonAnalytics {
}

.ButtonAnalytics:active {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-default);
}

.ButtonAnalytics:hover {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-hover);
}

.ButtonAnalytics.ButtonAnalyticsActive {
  border-bottom: 3px solid $COLOR_TOPO_EDITOR_ACTIVE;
  color: $COLOR_TOPO_EDITOR_ACTIVE;
}

.ButtonAnalytics.ButtonAnalyticsActive:active {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-default);
  color: $COLOR_TOPO_EDITOR_ACTIVE;
}

.ButtonAnalytics.ButtonAnalyticsActive:hover {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-hover);
  color: $COLOR_TOPO_EDITOR_ACTIVE;
}

.isStreckengrafikEditing {
}

.ButtonTopologieEditor.NetzgrafikEditing.isStreckengrafikEditing:hover {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-hover);
}

.ButtonTopologieEditor.TopologyEditing.isStreckengrafikEditing:hover {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-hover);
}

.ButtonNoteEditor.NetzgrafikEditing.isStreckengrafikEditing:hover {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-hover);
}

.ButtonMultiNodeMoving.NetzgrafikEditing.isStreckengrafikEditing:hover {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-hover);
}

.ButtonAnalytics.isStreckengrafikEditing:hover {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-hover);
}

.ButtonNoteEditor.NoteEditing.isStreckengrafikEditing:hover {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-hover);
}

.isNotStreckengrafikAllowed {
  fill-opacity: 0.35;
}

.ButtonStreckengrafikEditor.NetzgrafikEditing.isNotStreckengrafikAllowed:hover {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-hover);
}

.sbb-icon {
  pointer-events: none;
}

button:disabled {
  cursor: default;
}

button {
  background: var(--sbb-header-lean-background-color);
}

div.LabelNetzgrafik {
  background: var(--sbb-header-lean-background-color);
  border-right: none;
}

div.NodeZoomValue {
  background: var(--sbb-header-lean-background-color);
}

button.ButtonTopologieEditor.readonly {
  fill-opacity: 0.35;
}

button.ButtonNoteEditor.readonly {
  fill-opacity: 0.35;
}

button.ButtonTopologieEditor.readonly:hover {
  border-bottom: 0 solid var(--sbb-header-lean-background-color);
}

button.ButtonNoteEditor.readonly:hover {
  border-bottom: 0 solid var(--sbb-header-lean-background-color);
}

.ButtonTopologieEditor.NetzgrafikEditing.isStreckengrafikEditing.readonly {
  border-bottom: 0 solid var(--sbb-header-lean-background-color);
}

.ButtonStreckengrafikEditor.NetzgrafikEditing.isNotStreckengrafikAllowed:hover {
  border-bottom: 0 solid var(--sbb-header-lean-background-color);
}

.ButtonMultiNodeMoving.NetzgrafikEditing.isStreckengrafikEditing {
  fill-opacity: 0.35;
  border-bottom: 0 solid var(--sbb-header-lean-background-color);
}

.ButtonNoteEditor.NetzgrafikEditing.isStreckengrafikEditing {
  fill-opacity: 0.35;
  border-bottom: 0 solid var(--sbb-header-lean-background-color);
}

.ButtonMultiNodeMoving.NetzgrafikEditing.isStreckengrafikEditing:hover {
  border-bottom: 0 solid var(--sbb-header-lean-background-color);
}

.ButtonNoteEditor.NetzgrafikEditing.isStreckengrafikEditing:hover {
  border-bottom: 0 solid var(--sbb-header-lean-background-color);
}

.ButtonAnalytics.isStreckengrafikEditing {
  fill-opacity: 0.35;
  border-bottom: 0 solid var(--sbb-header-lean-background-color);
}

.ButtonAnalytics.isStreckengrafikEditing:hover {
  border-bottom: 0 solid var(--sbb-header-lean-background-color);
}

.ButtonOriginDestination.ButtonOriginDestinationActive {
  border-bottom: 3px solid $COLOR_TOPO_EDITOR_ACTIVE;
  color: $COLOR_TOPO_EDITOR_ACTIVE;
}

.ButtonOriginDestination.ButtonOriginDestinationActive:active {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-default);
  color: $COLOR_TOPO_EDITOR_ACTIVE;
}

.ButtonOriginDestination.ButtonOriginDestinationActive:hover {
  border-bottom: 3px solid var(--sbb-primary-alternative-button-background-color-hover);
  color: $COLOR_TOPO_EDITOR_ACTIVE;
}
