@import "../rastering/definitions";

::ng-deep path.KnotenAuslastungResourceGroup {
  stroke: none;
  fill: var(--sbb-header-lean-border-bottom-color);
  opacity: 0.25;
}

::ng-deep path.KnotenAuslastungDataGroup {
  cursor: pointer;
}

::ng-deep text.KnotenAuslastungDataGroup {
  font-size: 10px;
  cursor: pointer;
}

::ng-deep text.KnotenAuslastungNbrTrackGroup {
  font-size: 12px;
  font-weight: bold;
  fill: var(--NODE_TEXT_FOCUS);
}

::ng-deep text.KnotenAuslastungTimeGroup {
  font-size: 12px;
  fill: var(--NODE_TEXT_FOCUS);
}

::ng-deep path.KnotenAuslastungResourceGroup.capacityLimitReached {
  fill: var(--sbb-header-lean-border-bottom-color);
  opacity: 0.5;
}
