::ng-deep .sbb-trainrun-chip-group {
  display: flex;
}

::ng-deep div.EditTrainrunFilterableLabelsDialogTabContent {
  border-style: none;
  min-height: 250px;
  max-height: 250px;
  padding-bottom: 0px;
}

::ng-deep div.EditTrainrunDialogTabFooter {
  border-style: none;
  padding: 0 15px 0 0;
  max-height: 48px;
  min-height: 48px;
}

::ng-deep div.EditTrainrunFilterableLabelsDialogTabContent.readonly {
  pointer-events: none;
}

::ng-deep div.EditTrainrunDialogTabFooter.readonly {
  pointer-events: none;
}
